<article>
    <section>
        <p>Aqui iran los candidatos postulados de la base de datos con API REST</p>
        
    </section>
    <section>
        <ul>
            @for (candidato of candidatos; track candidato.id) {
                <li>{{ candidato.nombre }} {{ candidato.edad }}</li>
            }
        </ul>
    </section>
    <section>    
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                <img src="../../../img/avatarMasculino.png" class="card-img-top" alt="img perfil">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">card content</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Emocionado y listo para lo que venga</small>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                <img src="../../../img/avatarFemenino.png" class="card-img-top" alt="img perfil">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">card content</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Emocionada y lista para lo que venga</small>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">card content</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Emocionado y listo para lo que venga</small>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">card content</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Emocionado y listo para lo que venga</small>
                </div>
                </div>
            </div>
                
        </div>
    </section>
</article>
